body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.wrapper {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.intro {
  position: absolute;
  margin: auto;
  width: 25vw;
}

.intro.active {
  animation: enter 0.5s forwards ease-out;
}

.intro.hidden {
  animation: exit 0.5s forwards ease-out;
}

@keyframes enter {
  0% {
    left: -100%;
    top: 25%;
  }
  100% {
    left: 15%;
    top: 25%;
  }
}

@keyframes exit {
  0% {
    left: 15%;
    top: 25%;
  }
  100% {
    left: -100%;
    top: 25%;
  }
}

#hi {
  font-size: 5rem;
  margin: 0.1em 0em;
  padding: 0;
}

#myName {
  font-size: 2rem;
  margin: 0.1em 0em;
  padding: 0;
  min-width: 25vw;
}

#NYU:hover {
  color: #8900e1;
}

#myName u {
  color: #f9c74f;
}

#bio {
  font-size: 0.85rem;
  margin: 0.5em 0em;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.46);
}

.orbitSystem {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  -webkit-transition: left 0.5s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: left 0.5s ease-out; /* Firefox 4-15 */
  -o-transition: left 0.5s ease-out; /* Opera 10.50–12.00 */
  transition: left 0.5s ease-out;
}
.leftOrbit {
  left: 0;
  transform: translate(-50%, -50%);
}

.orbiters {
  position: absolute;
  width: 676px;
  height: 676px;
  top: 49.55%;
  transform: translate(0, -50%);
  display: block;
}

.orbiters2 {
  width: 676px;
  height: 676px;
  animation: spin-right 18s linear infinite;
  top: 100%;
}

.movingLine {
  position: absolute;
  left: 676px;
  top: 48.95%;
  transform: translate(-100%, -50%);
  opacity: 0.55;
}
#p1 {
  position: absolute;
  left: 45em;
  top: -1em;
  transform: translate(-50%, -50%);
}
#p2 {
  position: absolute;
  left: 2em;
  top: 2em;
  transform: translate(-50%, -50%);
}
#p3 {
  position: absolute;
  top: 45em;
  left: 10em;
  transform: translate(-50%, -50%);
}

.panel {
  animation: slide-away 0.5 forwards ease-out;
  position: absolute;
  min-width: 15em;
  width: fit-content;
  max-height: 85%;
}

.clipList {
  //right: 7vw;
  margin-right: 3em;
  .pubRow {
    display: flex;
    height: fit-content;
    margin-bottom: 1em;

    margin: 0.5em;
    .title {
      margin: 0;
      font-size: 2rem;
      width: 70%;
      height: 100%;
      padding: 1em;
      padding-left: 0.5em;
      text-decoration: underline;
    }
    .articles {
      width: 100%;
      margin-top: 0.5em;
      font-size: 1.25rem;
      line-height: 1.8rem;
    }
  }
  overflow-y: scroll;
}
.clipList.active {
  animation: slide-into 0.5s forwards ease-out;
}

.panel.hidden {
  top: 12vh;
  right: -100%;
  animation: slide-away 0.5s forwards ease-out;
}

@keyframes slide-away {
  0% {
    left: 35%;
    top: 10%;
  }
  100% {
    left: 100%;
    top: 10%;
    color: black;
  }
}

@keyframes slide-into {
  0% {
    left: 100%;
    top: 10%;
    color: black;
  }
  100% {
    left: 35%;
    top: 10%;
  }
}

.clipList::-webkit-scrollbar {
  display: none;
}

.credit {
  position: absolute;
  left: 0px !important;
  font-size: small;
  margin-left: 1em;
  margin-bottom: 0.1em;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.318);
}

a {
  color: #f8c650;
}

::-webkit-scrollbar {
  display: none;
}
.info.vertical {
  display: block;
  max-width: 100%;
  min-width: 20%;
  min-height: fit-content;
  height: fit-content;
  margin-left: 2em;
  padding: 0;

  p {
  }
}
.item.vertical {
  display: flex;
  min-width: 10vw;
  width: fit-content;
  height: fit-content;

  .skills.vertical {
    float: none;
    display: flex;
    margin: 0;
    .tech {
      float: none;
    }
  }
  ul.cnn {
    list-style: none;
    padding: 0;
    li {
      margin: 1em;
      margin-left: 1.5em;
    }
  }
}

.dataPanel {
  overflow-y: scroll;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    display: none;
  }

  .item {
    a {
      font-size: x-large;
    }
    margin-top: 2.5em;
    width: fit-content;
    max-width: 50em;
    height: fit-content;
    margin-right: 1.5em;
    .frame {
      ::-webkit-scrollbar {
        display: none;
      }
    }
    iframe {
      background-color: lightgray;
      max-height: 450px;
      max-width: 300px;
      width: 80vw;
      height: 55vh;
      padding-top: 1em;
      padding-left: 1em;
    }
    .skills {
      max-width: 100vw;
      width: fit-content;

      overflow: wrap;
      display: flex;
      flex-wrap: wrap;
      gap: 0.75em;
      padding: 0;
      margin: 0.75em 0;
      .tech {
        margin-top: 0.5em;
        //float: left;
        width: fit-content;
        max-width: 100%;
        font-size: smaller;
        list-style: none;
        text-align: center;
        padding: 0.5em;
        border-radius: 6px;
        p {
          max-width: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }

    p.about {
      font-size: large;
      color: rgb(207, 207, 207);
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.menu {
  position: absolute;
  width: fit-content;
  list-style: none;
  padding: 0;
  .menuItem {
    button {
      width: 100%;
      margin: 1em;
      font-size: larger;
      text-decoration: underline;
      background: none;
      border: none;
    }
    button.notSelected {
      color: #f8c650;
      &:hover {
        color: white;
      }
    }
  }
}

.menu.regular {
  position: absolute;
  animation: go-back 0.5s forwards ease-out;
  text-align: right;
  button {
    text-align: right;
  }
}

.leftMenu {
  position: absolute;
  text-align: left;
  animation: slide-out 0.5s forwards ease-out;
  button {
    text-align: left;
  }
}

@keyframes go-back {
  0% {
    top: 30vh;
    left: 1.5em;
  }
  100% {
    top: 30vh;
    left: 85%;
  }
}

@keyframes slide-out {
  0% {
    top: 30vh;
    left: 85%;
  }
  100% {
    top: 30vh;
    left: 1.5em;
  }
}

@keyframes spin-right {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.resume {
  overflow-y: scroll;
  padding-right: 3em;
}

section.resume {
  height: -moz-fit-content;
  height: fit-content;
}

.Transcripts.podcast {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  animation: slide-away 0.5 forwards ease-out;
  z-index: 2;
  min-width: 15em;
  transform: translate(-100%, -10%);
  height: 90%;
  padding: 4em;
  margin-right: 5em;
  margin-left: 5em;
  max-width: 60%;
  overflow: scroll;
  margin-top: 3.5em;
  padding-top: 0;
  margin-bottom: 2em;
  p {
    color: white;
  }
  opacity: 1;
}

.Episodes.podcast {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  animation: slide-away 0.5 forwards ease-out;
  z-index: 2;
  min-width: 15em;
  transform: translate(-100%, -10%);
  height: 90%;
  padding: 4em;
  max-width: 60%;
  overflow: scroll;
  #tt {
    display: flex;
    margin: 3em;
    div {
      margin-top: 1em;
    }
  }
  p {
    width: fit-content;
    margin: 0.5em;
    margin-left: 2em;
    z-index: -19;
    color: white;
  }
  h1 {
    color: rgb(239, 239, 239);
    opacity: 1;
    margin: 0.5em;
    font-size: 3rem;
  }
  img {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin: 0.5em;
  }
  box-shadow: 10px 10px 30px black;
}

.resume-section {
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  gap: 3.5em;
  text-align: left;
  h3 {
    margin-top: 0.5em;
    width: 10vw;
    text-decoration: underline;
    font-size: x-large;
  }
  h4 {
    font-size: larger;
    text-decoration: underline;
    margin-bottom: 0.5em;
    color: #f8c650;
  }
  em {
    margin-top: 0.5em;
    padding: 0;
    margin-bottom: 0em;
    color: white;
  }
  .details {
    font-size: large;
    min-width: 40vw;
    width: fit-content;
    max-width: 100%;
  }
  .details ul {
    padding-top: 0;
    margin-top: 0.5em;
    margin-right: 2em;
  }
  .details ul li {
    padding-top: 0em;
    margin-top: 0.75em;
    color: lightgray;
  }
}

button.selected {
  color: #d59442;
  text-emphasis: none;
  &:hover {
    color: white;
  }
}

.panel.resume.active {
  animation: slide-into 0.5s forwards linear;
}
.panel.resume.hidden {
  animation: slide-away 0.5s forwards linear;
}
.panel.dataPanel.active {
  animation: slide-into 0.5s forwards linear;
}
.Episodes.podcast.hidden {
  animation: slide-away 0.5s forwards linear;
}

/*
@media only screen and (max-device-width: 950px) {
  .panel.resume.active {
    li {
      color: rgb(169, 169, 169);
    }
    h3 {
      color: white;
    }
  }
}*/
@media only screen and (max-device-width: 950px) {
  div.Episodes.podcast {
    margin-top: 4em;
    padding-top: 0;
    margin-left: 2em;
  }
  .leftMenu {
    margin-left: 1.5em;
    max-width: 100vw !important;
    width: fit-content;
  }
  .resume-section {
    display: inline-block;
    min-height: 20vh;
    height: fit-content;
    padding: 0;
    margin: 1.5em 1em;
  }
  .panel.resume {
    position: absolute;
    width: fit-content;
    h3 {
      height: fit-content;
      width: 100%;
      min-width: 10em;
      padding: 0;
      margin: 0.5em 0;
    }
    h4 {
      padding: 0;
      margin: 0.5em;
      margin-left: 0;
      height: fit-content;
      width: fit-content;
    }
    em {
      margin: 0.5em 0;
    }
    .details {
      min-width: 50vw;
      max-width: 90vw;
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.405);
      .item {
        width: fit-content;
        margin: 0;
      }
    }
  }

  .panel.resume.active {
    max-width: 100%;
    min-height: 30em;
    max-height: 75vh;
  }
  .panel {
    margin: 1em;
    min-width: 15em;
    width: fit-content;
    max-width: 100%;
    max-height: 70vh;
    height: fit-content;
    overflow-y: scroll;
  }
  div.item.vertical {
    height: fit-content;
    margin-right: 0;
    display: block;
    margin-left: 0;
  }
  div.info.vertical {
    left: 0;
    padding: 0.1em;
    min-height: 10vh;
    height: fit-content;
    margin-left: 0;
    margin-right: 0.5em;
    width: fit-content;
    //background-color: rgba(0, 0, 0, 0.241);
  }
  .panel.dataPanel {
    min-width: 35vw;
    max-width: 80vw;
    height: fit-content;
    .item {
      min-height: 20vh;
      height: fit-content;
    }

    p.about {
      color: rgb(201, 201, 201);
      float: none;
    }
    .info .about {
    }
  }
  .dataPanel.active {
    animation: slide-into 0.5s forwards ease-out;
  }
  .orbitSystem {
    left: 95vw;
  }

  @keyframes enter {
    0% {
      left: -100%;
      top: 10em;
    }
    100% {
      left: 2em;
      top: 10em;
    }
  }

  @keyframes exit {
    0% {
      left: 2em;
      top: 10em;
    }
    100% {
      left: -100%;
      top: 10em;
    }
  }

  .intro {
    position: absolute;
    min-width: 35vw;
    width: fit-content;
    max-width: 60vw;
    left: 50%;
  }
  #bio {
    min-width: 100%;
  }

  .intro.hidden {
    animation: exit 0.5s forwards linear;
  }
  .intro.active {
    animation: enter 0.5s forwards linear;
  }

  .menu {
    display: flex;
    animation: none;
    width: fit-content;
    max-width: 100vw !important;
    .menuItem {
      padding: 0;
      max-width: 25vw;
      z-index: 4;
      button {
        margin: 0.25em;
        height: 100%;
        text-align: center;
        max-width: 8em;
      }
    }
  }

  .menu.regular {
    animation: none;
  }

  .clipList {
    max-height: 75vh;
    .pubRow {
      display: block;
      max-width: 65vw;
      .title {
        padding: 0em;
        min-width: 80%;
        min-height: 100%;
      }
      .articles {
        padding-right: 0.5em;
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.319);
      }
    }
  }

  .panel.active {
    animation: slide-into 0.5s forwards ease-out;
  }

  .credit.active {
    animation: move-credit-in 0.5s forwards linear;
  }
  .credit.hidden {
    animation: move-credit-out 0.5s forwards linear;
  }

  @keyframes move-credit-out {
    0% {
      left: 0;
      bottom: 0;
    }
    100% {
      bottom: 0;
    }
  }

  .credit {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @keyframes move-credit-in {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 0;
    }
  }

  @keyframes slide-away {
    0% {
      left: 7.5%;
      top: 13%;
    }
    100% {
      left: 100%;
      top: 10%;
      color: black;
    }
  }

  @keyframes slide-into {
    0% {
      left: 100%;
      top: 10%;
      color: black;
    }
    100% {
      left: 7.5%;
      top: 13%;
    }
  }
}

@media only screen and (max-device-width: 400px) {
  .intro.active {
    animation: enter 0.5s forwards ease-out;
  }

  .intro.hidden {
    animation: exit 0.5s forwards ease-out;
  }

  @keyframes enter {
    0% {
      left: -100%;
      top: 25%;
    }
    100% {
      left: 10%;
      top: 17%;
    }
  }

  @keyframes exit {
    0% {
      left: 10%;
      top: 17%;
    }
    100% {
      left: -100%;
      top: 25%;
    }
  }

  .panel {
    margin-left: 0;
    margin-top: 0;
  }
  ul.menu.leftMenu {
    max-width: 100vw;
    margin: none;
    left: 0;
    .menuItem {
      padding: 0;
      max-width: 25vw;
      button {
        font-size: medium;
      }
    }
  }

  .dataPanel .info {
  }
  .resume-section {
    margin-top: 0.5em;
    margin-right: 1em;
    min-height: fit-content;
    .details {
      max-width: 90vw;
      width: fit-content;
      margin-right: 1em;
    }
    .item {
      max-width: 100%;
      margin: 0;
      ul {
        padding-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
      }
    }
  }

  .skills {
    width: fit-content;
    max-width: 100vw;
  }

  p.about.vertical {
    font-size: small;
    padding: 0.5em;
    margin-left: 0;
  }

  .dataPanel.active {
    max-height: 70vh;
  }
  .dataPanel .info {
    margin-right: 0;
  }

  .dataPanel .item {
    margin: 0.5em;
    padding: 0;
    a {
      width: fit-content;
      p {
        background-color: rgba(0, 0, 0, 0.336);
        margin: 0;
      }
    }
  }
}
